.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dfdfdf;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider:before {
  background-color: white;
}

.plans {
  padding: 0vw 8vw;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 24px;
}
.info button {
  display: none;
}
.line3 {
  background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
  height: 6px;
  width: 80%;
  position: absolute;
  margin-left: -8%;
}
.plans {
  background-color: #f5f5f5;
}
.plans .line3 {
  display: none;
}
.plans h2 {
  font-size: 32px;
  font-weight: 600;
  padding-top: 50px;
}
.plans p {
  opacity: 0.6;
  color: black;
  margin-top: 20px;
  margin-bottom: 50px;
}
.price p {
  margin-top: 0;
  margin-bottom: 0;
}
.plans h1 {
  color: black;
  font-weight: 600;
  font-size: 40px;
}
.info button {
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 14px;
}
.plans button {
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 24px;
  margin-top: 70px;
}
.active h2 {
  color: white;
  font-size: 32px;
  font-weight: 600;
  padding-top: 50px;
}
.active {
  background-color: black;
}
.active p {
  opacity: 0.6;
  color: whitek;
  margin-top: 20px;
  margin-bottom: 50px;
}
.active h1 {
  color: white;
  font-weight: 600;
  font-size: 40px;
}
.active button {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 24px;
}
.active {
  padding: 0vw 8vw;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .line3 {
    width: 6px;
    height: 32%;
    margin-left: -4%;
  }

  .plans {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    text-align: start;
  }
  .plans button {
    display: none;
  }
  .info button {
    display: block;
  }
  .info {
    width: 60%;
  }

  .price p {
    text-align: end;
  }
  .active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    text-align: start;
  }
  .active button {
    display: none;
  }
  .active .info button {
    display: block;
  }
}

@media (min-width: 1336px) {
  .pricing {
    display: flex;
    margin: 0 10vw 5vw;
    align-items: center;
  }
  .plans {
    display: block;
    text-align: center;
    margin: 0 2vw;
    cursor: pointer;
    height: 460px;
  }
  .plans button {
    display: block;
  }
  .info button {
    display: none;
  }
  .info {
    width: 100%;
  }
  .price p {
    text-align: center;
  }
  .line3 {
    height: 6px;
    width: 22.6%;
  }
  .plans button:hover {
    background-color: #dfdfdf;
    cursor: ponter;
    color: black;
  }
  .active {
    display: block;
    text-align: center;
    margin: 0 2vw;
    cursor: pointer;
    height: 520px;
  }
  .active button {
    display: block;
  }
  .active .info button {
    display: none;
  }
  .active button:hover {
    background-color: #dfdfdf;
    cursor: ponter;
    color: black;
  }
  .plans {
    transition: transform 0.3s ease;
  }

  .plans:hover {
    transform: translateY(-16px);
    cursor: pointer;
  }
}
