.languages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.languages img {
  cursor: pointer;
  opacity: 0;
  margin-left: 6px;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.languages img:nth-child(1) {
  height: 40px;
  width: 40px;
  margin-right: 4px;
}
.languages img:nth-child(2) {
  height: 24px;
  width: 40px;
}

.languages img.visible {
  animation-name: fade-in;
  animation-fill-mode: forwards;
}

.languages img.hidden {
  animation-name: fade-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
