.line {
  background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
  height: 6px;
  width: 130px;
  position: absolute;
  margin-left: 50px;
}
.beta-img {
  width: 100vw;
  height: 400px;
}

.beta h2 {
  line-height: 46px;
}
.invites p {
  letter-spacing: 3px;
  margin-top: 0;
}
.photo-tab {
  display: none;
}
.beta-img-desk {
  display: none;
}
.photo-desk {
  display: none;
}
.create-feat {
  padding: 8vw 14vw;
}
#line1 {
  margin-left: 12vw;
}
@media (min-width: 768px) {
  .photo-mob {
    display: none;
  }
  .photo-tab {
    display: block;
  }
  .feature {
    display: flex;
  }
  .feature-texts {
    display: flex;
    align-items: center;
  }
  .feature-texts h2 {
    padding-top: 120px;
    padding: 120px 50px 0;
  }

  .feature-texts p {
    padding: 20px 50px 150px;
  }
  .beta {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #line2 {
    height: 400px;
    width: 6px;
    margin-left: 0;
    margin-top: 116px;
  }

  #line1 {
    width: 6px;
    height: 144px;
    margin-left: 0;
  }
  .detailss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    padding: 60px 0;
  }

  .icons {
    grid-area: 2 / 1 / 3 / 2;
  }

  .limit {
    grid-area: 1 / 2 / 2 / 3;
  }

  .responsive {
    grid-area: 1 / 1 / 2 / 2;
  }

  .embed {
    grid-area: 2 / 1 / 3 / 2;
  }

  .domain {
    grid-area: 2 / 2 / 3 / 3;
  }

  .exposure {
    grid-area: 3 / 1 / 4 / 2;
  }

  .image {
    grid-area: 3 / 2 / 4 / 3;
  }
  .beta-img {
    display: none;
  }
  .beta-img-desk {
    display: block;
    width: 100vw;
    height: 400px;
  }
}

@media (min-width: 1336px) {
  .detailss {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "responsive limit embed"
      "domain exposure image";
  }

  .limit {
    grid-area: limit;
  }

  .responsive {
    grid-area: responsive;
  }

  .embed {
    grid-area: embed;
  }

  .domain {
    grid-area: domain;
  }

  .exposure {
    grid-area: exposure;
  }

  .image {
    grid-area: image;
  }
  .photo-desk {
    display: block;
  }
  .photo-tab {
    display: none;
  }

  .create-feat {
    padding: 8vw 4vw;
    width: 44vw;
  }
  .beta h2 {
    margin-left: 6vw;
  }
}
